hr
#footer
  Rodrigo Otavio van den Berg Maia
  br

  a(href="https://github.com/rodrigovdb/api_client")
    img(src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png", width="20")
    | Source on github
