.panel.panel-default(ng-controller="RequestHeader")
  .panel-heading Header params
  .panel-body
    .row.my-form-row(ng-repeat="(key, value) in headers")
        .col-sm-1
          a(href="#", ng-click="remove_header(key)") [X]
        label.col-sm-2.control-label(for="{{ key }}") {{ key }}
        .col-sm-3(id="#{{ key }}") {{ value }}

    .row.my-form-row
        .col-sm-2
          strong Key
        .col-sm-2
          strong Value
    .row.my-form-row
      .form-group
        .col-sm-2
          input#header_key.form-control(name="header_key")
        .col-sm-2
          input#header_value.form-control(name="header_value")
        .col-sm-2
          button#add_header.btn.btn-primary(ng-click="add_header()") Add
