.panel.panel-default(ng-app="request_headers", ng-controller="RequestHeaderController as rc")
  .panel-heading Header params
  .panel-body
    .row(style="margin-bottom: 5px")
      .form-group
        label.col-sm-2.control-label(for="token") API Token
        .col-sm-4
          input.form-control(type="text", id="token", name="token", value="rc.foo")
    .row(style="margin-bottom: 5px")
        label.col-sm-2.control-label(for="accept_version") API Accept-Version
        .col-sm-4
          input.form-control(type="text", id="accept_version", name="accept_version", value="v1")
