doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title RESTful API Client

    link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="css/main.css")

    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/index.js")

    block metatags
  body

    //- Yield content
    main
      block content

    .col-md-2
    .col-md-8
      include ../includes/_footer.jade
    .col-md-2
