extends layouts/main.jade

block content
  .row
    .col-md-2
    .col-md-8
      h1 My API Client

      include includes/_request_destination.jade
      include includes/_request_header_params.jade
      include includes/_accordion_with_two_forms.jade

      #response.panel-footer(style='display: none')
      #loading(style='text-align: center; display: none')
        h4 Loading... just wait

        img(src='img/clipboard31.gif')

    .col-md-2
